
body {
  background: #212121;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  word-wrap: break-word !important;
  /*font-family: 'Open Sans', sans-serif;*/
}

h1 {
  font-size: 60px;
    text-decoration: underline;
  text-align: center;
  color:aqua;
  margin-top: 100px;

  font-family: monospace;
}


h3 {
  font-size: 30px;
   text-align: center;
  color: aqua;
}

h2 {
  font-size: 30px;
   text-align: center;
    text-decoration: underline;
  color: aqua;
}


a {
  color: #FFF;
}


  

#container {
  margin: 0 auto;
}

p {
  text-align: left;
}






.container1 { 
    width: 100%;
    height: 100%;
}

.col-half {
    
    padding: 0;
    float: left;
    min-width: 25%;
    border: 10px;
    border-color: aqua;
   
    height: 100%;
}


#stackheader1 {
 background-color: #666;
 color: #FFF;
 width: 410px;
 height: 180px;
}
#title1 {
 color: aqua;
 float: left;
 padding: 15px 0 0 15px; 
}

button {
    color: crimson;
    padding: 10px;
    background-color: aquamarine;
    font-family: sans-serif ;
    font-weight: bold;
   
    
}
